@import './common.less';
#root{
    width:100vw;
    height: 100vh;
    font-size: 14px;
    display: flex;
    flex-wrap:nowrap;
    justify-content:flex-start;
    .content{
        width: 100%;
    }
}
